# Files and directories created by pub.
.dart_tool/
.packages
.idea

l10n_delegate.dart

# FVM
.fvm
.fvmrc

# VS Code
.vscode

# Spider Resources
integration_test/resources/*.dart

# Tests mock folder
integration_test/mock/**/*
!integration_test/mock/.gitkeep